
.image{
    margin-top: 200px;
    border: solid;
   border-radius: 100px;
   height: 200px;
   width: 200px;
   margin-left: 150px;
}
.name{
    font-size: 40px;
    margin-left: -500px;
    margin-top: -200px;
}
.button{
    margin-left: 300px;
    margin-top: -50px;
    gap: 10px;
    font-weight: bold;


}
.li{
    display: flex;
    margin-left: 400px;
    margin-top: -10px;
    padding: 80px;
    gap: 50px;
    text-align: center;
    text-decoration: black;
    font-weight: bold;
}
.Description{
    margin-left: 500px;
    padding-top: -50px;
    font-size: 20px;
    text-align: center;

}
.button1{
    padding-left: -1000px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: bold;
    
}

/*@media screen and (min-width: 300px) {
    .button {
      align-items: center; 
      margin-left: 650px;
      display: flex;
    }
    .name{
        font-size: 40px;
        margin-left: -500px;
        margin-top: -180px;
    }
    .li{
        display: flex;
        margin-left: 400px;
        
    }
    .image{
        
      margin-left: 50px;
    }
    .Description{
        margin-left: 400px;
        
        font-size: 25px;
        text-align: left
    
    }
    .button1{
        display:flex;
        margin-left: 200px;
        
    }
}
@media screen and (min-width: 160px) {
    .button {
        align-items: center; 
        margin-left: 350px;
        margin-top: -100px;
        display: flex;
      } 
      .name{
        font-size: 40px;
        margin-left: 170px;
        margin-top: -100px;
    }  
    .image{
        margin-top: 200px;
        margin-left: 10px;
        height: 140px;
       width: 140px;
      }
      .Description{
        margin-left: 300px;
        
        font-size: 20px;
        text-align: left
    
    }
    .button1{
        display:flex;
        margin-left: 80px;
        
    }
    .li{
        display: flex;
        margin-left: 100px;
        
    }
}
@media screen and (min-width: 500px) {
    .button {
      align-items: center; 
      margin-left: 600px;
      display: flex;
      margin-top: -40px;
    }
    .image{
        margin-top: 150px;
        margin-left: 10px;
        height: 140px;
       width: 140px;
      }
    .name{
        font-size: 40px;
        margin-left: 100px;
        margin-top: -90px;
    }
    .li{
        display: flex;
        margin-left: 300px;
        
    }

}
@media screen and (min-width: 900px) {
    .name{
        font-size: 40px;
        margin-left: 200px;
        margin-top: -80px;
    }
    .button {
        align-items: center; 
        margin-left: 600px;
        display: flex;
        margin-top: -50px;
      }
}
@media screen and (min-width: 1000px) {
    .name{
        font-size: 40px;
        margin-left: 100px;
        margin-top: -80px;
    }
}
@media screen and (min-width: 400px) {
    .name{
        font-size: 40px;
        margin-left: 5%;
        margin-top: -80px;
    }
    .button {
        align-items: center; 
        margin-left: 450px;
        display: flex;
        margin-top: -10px;
      }
}*/
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .name{
        margin-left: 300px;

    }
    .button{
        display: flex;
        margin-left: 700px;

    }
    .button1{
        display: flex;
        margin-left: 200px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px) {
    .name{
        margin-left: 400px;
    }
    .button{
        display: flex;
        margin-left: 600px;
        margin-top: -100px;
    }
    .button1{
        display: flex;
        margin-left: 200px;
    }
}
@media screen and (min-width: 200px) and (max-width: 300px) {
    .name{
        margin-left: 300px;
    }
    .button{
        display: flex;
        margin-left: 530px;
        margin-top: -100px;
    }
    .li{
        margin-left: 300px;
    }
    .image{
        margin-left: 20px;
    }
    .button1{
        display: flex;
        margin-left: 150px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
.name{
    margin-left: 200px;
}
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
    .name{
        margin-left:-80px;
    }
    .button{
        margin-left: 620px;
    }
    }
    @media screen and (min-width: 1010px) and (max-width: 1100px) {
        .name{
            margin-left: -120px;
        }
        .button{
            margin-left: 550px;
        }
    }
